

      <!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="
        background-color: #f23e27";>
                <a class="navbar-brand" href="{% url 'welcome'  %}"><i class="fas fa-camera"></i>The gallaria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">photos by location <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href=""></a>
                    </li>
                    <li class="nav-item dropdown">
                      
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"></a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#"></a>
                    </li>
                  </ul>
                 
                  <div class="col-sm-4 col-md-4 navbar-right">

                    <form class="navbar-form" role="search" action="{% url 'search_results' %}" style="display:inline-block">
                      <div class="input-group">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search category" name="category" aria-label="Search">
                        <div class="input-group-btn">
                          <button class="btn btn-default" type="submit"> search<i class="glyphicon glyphicon-search"></i></button>
                        </div>
                      </div>
                    </form>

                  </div>

        </form>
                </div>
              </nav>
</body>
</html>