{%extends 'base.html'%} {% block content %}
<style>

    .card-container {
        cursor: pointer;
        height: 90vh;
        perspective: 600;
        position: relative;
        width: 60%;
    }

    .card {
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        width: 100%;
    }

    .card:hover {
        transform: rotateY(180deg);
    }

    .card .side {
        backface-visibility: hidden;
        border-radius: 6px;
        height: 100%;
        position: absolute;
        overflow: hidden;
        width: 100%;
    }

    .card .back {
        background: #eaeaed;
        color: #0087cc;
        line-height: 150px;
        text-align: center;
        transform: rotateY(180deg);
    }

    .card {
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        width: 100%;
    }

    .card:hover {
        transform: rotateY(180deg);
    }

    .card .side {
        backface-visibility: hidden;
        border-radius: 6px;
        height: 100%;
        position: absolute;
        overflow: hidden;
        width: 100%;
    }

    .card .back {
        background: #eaeaed;
        color: #0087cc;
        line-height: 150px;
        text-align: center;
        transform: rotateY(180deg);
    }

    .card {
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        width: 100%;
    }

    .card:hover {
        transform: rotateY(180deg);
    }

    .card .side {
        backface-visibility: hidden;
        border-radius: 6px;
        height: 100%;
        position: absolute;
        overflow: hidden;
        width: 100%;
    }

    .card .back {
        background: #eaeaed;
        color: #0087cc;
        line-height: 150px;
        text-align: center;
        transform: rotateY(180deg);
    }
</style>

<div class="card-container container-fluid">
    <div class="card">
        <div class="side">
            <img src="{{ photo.photo_url|default_if_none:'#' }}"class="img-fluid" />
        </div>

        <div class="side back" style="text-align: left;">
                <ul class="list-group">
                        <li class="list-group-item"> name: {{photo.name}}</li>
                        <li class="list-group-item"> location : {{photo.location.location}}</li>
                        <li class="list-group-item"> description : {{photo.description}}</li>
                        <li class="list-group-item">Category : {{photo.category}}   </li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>

           
        </div>
        

    </div>
</div>



<!-- The text field -->
<input type="text" value="{{photo.photo_url}}   " id="myInput">

<!-- The button used to copy the text -->
<button onclick="myFunction()">Copy text</button>

<script>
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("myInput");

        /* Select the text field */
        copyText.select();

        /* Copy the text inside the text field */
        document.execCommand("Copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }
</script>


{% endblock %}