body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.hero {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #e50606;
    background-image: url(https://uploads-ssl.webflow.com/56abb49465d65a6e6bbcc581/58862cdbabc83d5e7c56f1f6_Girl-With-Mask-Red3.png);
    /* background-size: cover; */
    font-family: Fontawesome,sans-serif;
    text-align: center;
    
}
img{
    width:100px;
}

.hero, .navbar {
    position: relative;
    display: block;
    top: 0;
    right: 0;
}
.hero, .w-nav-link {
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    z-index: 2100;
    overflow: visible;
    background-color: transparent;
}
.hero, .navbar {
    position: relative;
    display: block;
    top: 0;
    right: 0;
}
.hero {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.textblock-hero {
    position: relative;
    top: 54%;
    z-index: 2001;
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
}
.textblock-hero, .textblock-home-1, .textblock-home-3 {
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
}
.divblock-home-1 {
    position: relative;
    display: block;
    padding-top: 150px;
    padding-bottom: 0;
    background-color: #000;
}
.divblock-home-8 {
    position: static;
    display: block;
    width: 600px;
    height: 600px;
    margin: 0 auto 150px;
    background-color: #e50606;
}
.textblock-home-2 {
    position: absolute;
    left: 60px;
    top: 245px;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: inline-block;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    font-family: 'Open Sans',sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-style: normal;
    font-weight: 300;
    text-align: left;
    letter-spacing: 12px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.home-div-cover {
    width: 100%;
    height: 100%;
    background-color: #000;
}
.home {
    background-color: #000;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
* {
    box-sizing: border-box;
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}